# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL = 'postgresql://cc-user:dbpass@collaboration-catalogue-db:5432/cc?schema=public'

DATABASE_USER = 'cc-user'
DATABASE_PASSWORD = 'dbpass'
DATABASE_NAME = 'cc'
DATABASE_HOST = 'collaboration-catalogue-db'

NUXT_PKI_URL = 'https://pki.circuless.bavenir.eu'
NUXT_PKI_USER = 'cc'
NUXT_PKI_PASSWORD = 'pkipass'

NUXT_PUBLIC_APP_URL = 'http://localhost:3000'
NUXT_PUBLIC_OIDC_ENDPOINT = 'https://auth.dev.circuless.bavenir.eu'
NUXT_PUBLIC_OIDC_REALMS = '{
   "master":{
      "client_id":"admin",
      "realm":"master"
   },
   "circuless":{
      "client_id":"circuless",
      "realm":"circuless"
   },
}'
NUXT_OIDC_REALM_SECRETS = '{
   "master":"mastersecret",
   "circuless":"circulesssecret",
}'