.p-confirmdialog-message {
  @apply max-w-[600px];
}

/* Workaround for this issue: https://github.com/primefaces/primevue/issues/882 */
.p-overflow-hidden {
  overflow: visible !important;
  overflow-x: visible !important;
}

.no-header-panel > .p-panel-header {
  display: none;
}
.grow-panel-content {
  @apply flex flex-col overflow-y-auto;
}

.grow-panel-content > .p-panel-content-container {
  @apply grow overflow-y-auto;
}

.grow-panel-content > .p-panel-content-container > .p-panel-content {
  @apply h-full;
}